.about-details{
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    text-align: justify;
}
.about-slider{
    /* height: 50vh; */
    margin: 0 auto;
    padding: 5%;
    background-color: #fff;

}
.about-vision .mission{
   width: 50%;
}
.about-vision .vision{
    width: 50%;
}
.keynote{
    padding: 5%;
    text-align: justify;
    
}
.keynote-ch{
    background-color: var(--navy-blue-color);
    color: aliceblue;
    padding: 5%;
}
.person-img{
    width: 400px;
    height: 250px;
    position: relative;
  
  }
  .person-img img{
    width: 100%;
    height:100%;
    border-radius: 50%;
  }
 