.ind-person-container {
    padding: 5%;
    background-color: #fff;
    box-shadow: var(--shadow) ;
    border-radius: 5px;
}

.image-container {
    text-align: center;
    margin-bottom: 10px; /* Reduced space between image and title */
}

.ambassador-image {
    width: 250px; /* Increased width for larger image */
    height: 300px;
    border-radius: 8px; /* Optional: to make the image corners rounded */
    border: 1px solid #ddd; /* Optional: border around the image */
    padding: 5px; /* Optional: padding inside the border */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Optional: shadow effect */
}

.speech-container {
    width: 80%;
    text-align: justify;
    padding-left: 10px;

}

.speech-container h3 {
 margin-top: 0 !important;
}

.speech-container p {
    margin-bottom: 12px;
    line-height: 1.7;
    margin: 0 auto;
    font-size: 14px;
}
