body{
  background-color: #162b560c;
  margin: 0;
  overflow-x: hidden ;
  font-family: "Poppins", sans-serif; 
  font-weight: 400;
  font-style: normal;
  color: #3b3b3b;
  padding-top: 100px;  /* Keeps a consistent 100px gap below the header */
}
h1,h2,h3,h4{
  font-family: 'Montserrat', sans-serif;
}
:root{
  --navy-blue-color : #0c1e43;
  --light-blue-color: #E9F6FF;
  --orange-color: #c23911;
  --shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
}
/* ============Shared styles============  */
.montserrat{
  font-family: "Montserrat", sans-serif
}
.section-header{
  font-size: 3em;
  color: var(--navy-blue-color);
  text-align: center;
}
.mt{
  margin-top: 12%;
}

.mt-10{
  margin-top: 5%;
}
.mb-2{
  margin-bottom: 2% b;
}
.mt-5{
  margin-top: 5%;
}
.d-flex{
  display: flex;
}
.btn-red{
  background-color: #c23911;
  border: none;
  border-radius: 24px;
  width: auto;
  padding: 10px 20px;
  color: #fff;   
  cursor: pointer;
}

.link-text{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin-top: 10px;
}
.text-center{
  text-align: center;
}
@media screen and (max-width: 928px)
{
  .section-header{
    font-size: 1.5rem;
  }
}

/* #dark-blue: #0c1e43
            #1e3970
            #c23911 
            #6fa3c1
            #f7f7f4

            */